In [2]:
# Day4 part1 python learning.

#Exercise 1: Calculate the multiplication and sum of two numbers
#Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.
#Given 1:
#number1 = 20
#number2 = 30
#Expected Output:

#The result is 600

#Given 2:

#number1 = 40
#number2 = 30
#Expected Output:

#The result is 70#

In [7]:
# breaking the flow,conditional ogic,indentation in python
def multiplication_or_sum(num1,num2):
#calculate product of two numbers
   product = num1*num2
# To check if procduct is less than 1000
   if product <= 1000:
      return product
   else:
    # product exceeds 1000 so sum
      return num1+num2
#first test case
result = multiplication_or_sum(20,30)
print("The result is", result)
#second test case
result = multiplication_or_sum(40,30)
print("The result is", result)

The result is 600
The result is 70

In [10]:
#Truthy vs falsy
is_old = "Hello"
is_licensed = 5
print(bool('Hello'))
print(bool(5))
if is_old and is_licensed:
    print('you are old enough to drive and you have a license!')
else:
    print("you are not eligible to drive")

True
True
you are old enough to drive and you have a license!

In [12]:
#Truthy vs falsy
is_old = ""
is_licensed = 5
print(bool(''))
print(bool(5))
if is_old and is_licensed:
    print('you are old enough to drive and you have a license!')
else:
    print("you are not eligible to drive")

False
True
you are not eligible to drive

In [14]:
#Ternary operator
#condition_if_true if condition else condition_if_false
is_friend = False
can_message = "message allowed" if is_friend else "not allowed to message"
print(can_message)

not allowed to message

In [15]:
#Short circuting
is_friend = True
is_user = True
if is_friend or is_user:# later after or is not checked here as it is not required thus short-circuted.
    print('best friends')

best friends

In [18]:
# Day4 part 2 python learning

number1 = 5
number2 = 6
number3 = 7
((number1>number2)and(number1>number3) ) #Logical operator

False

In [19]:
not(number1<number2)

False

In [21]:
lst1 = [1,2,3,4,5]
lst2 = [1,2,3,4,5]
if lst1 == lst2:
    print(True)
else:
    print(False)

True

In [23]:
# '==' versus 'is'
lst1 = [1,2,3,4,5]
lst2 = [1,2,3,4,5]
if lst1 is lst2:
    print(True)
else:
    print(False)#Address of both list is different

False

In [24]:
lst1 = [1,2,3,4,5]
lst2 = lst1
if lst1 is lst2:
    print(True)
else:
    print(False)

True

In [26]:
lst1 = [1,2,3,4,5]
lst2 = lst1
print(id(lst1))
print(id(lst2))

139956881532544
139956881532544

In [27]:
#for loop, Iterables

for item in 'Zero to Mastery':
    print(item)

Z
e
r
o

t
o

M
a
s
t
e
r
y

In [28]:
for item in [1,2,3,4,5]:
    print(item)

1
2
3
4
5

In [29]:
for item in (1,2,3,4,5):
    for sub_item in ['a','b','c']:
        print(item,sub_item)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [30]:
user = {'name': 'Amit', 
        'age':25, 
        'can_swim': False
    }
for item in user:
    print(item)

name
age
can_swim

In [31]:
user = {'name': 'Amit', 
        'age':25, 
        'can_swim': False
    }
for item in user.items():
    print(item)

('name', 'Amit')
('age', 25)
('can_swim', False)

In [32]:
for item in user.values():
    print(item)

Amit
25
False

In [33]:
for item in user.keys():
    print(item)

name
age
can_swim

In [34]:
for key, value in user.items():
    print(key, value)

name Amit
age 25
can_swim False

In [35]:
#counter
my_list = [1,2,3,4,5,6,7,8,9,10]
counter = 0
for item in my_list:
    counter = counter+item
    
print(counter)

55

In [36]:
#range
for number in range(0,10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [37]:
for descendingnum in range(10,0,-2):
    print(descendingnum)

10
8
6
4
2

In [38]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
#enumerate
for indx,char in enumerate('helloo'):
    print(indx,char)

0 h
1 e
2 l
3 l
4 o
5 o

In [41]:
for indx,char in enumerate(list(range(100))):
    if char == 50:
        print(f 'index of 50 is: {indx}')

index of 50 is: 50

In [42]:
#Number Pattern 
#1 
#1 2 
#1 2 3 
#1 2 3 4 
#1 2 3 4 5 


#Decide the no. of rows (above pattern contains 5 rows)
row = 5
#start :1, stop :row+1, #step size : 1
# loop run 5 times
for line in range( 1, row+1, 1):
    #run inner loop line+1 times
    for num in range(1, line+1):
        print(num, end= ' ')
    #empty line after each row
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [44]:
#while loop

i = 0
while i<10:
    print(i)
    i+= 1

0
1
2
3
4
5
6
7
8
9

In [45]:
i = 0
while i<10:
    print(i)
    i+= 1
else:
    print("done with all the work") # It doesnot seem useful here but will appear when a break statement is used.

0
1
2
3
4
5
6
7
8
9
done with all the work

In [46]:
i = 0
while i<10:
    print(i)
    i+= 1
    break
else:
    print("done with all the work") # break considers else as block of while loop

0

In [47]:
while True:
    response = input("say something: ")
    if (response == "bye"):
        break

say something: hi
say something: hello
say something: bye

In [48]:
#Write a program to count the total number of digits in a number using a while loop.
#For example, the number is 75869, so the output should be 5.

num = int(input())
count = 0
while num != 0:
    #floor division
    # to reduce the last digt from number
    num = num//10
    # increment count by 1
    count += 1
print("Total digits are:", count)

75869
Total digits are: 5

In [54]:
num1 = 546
num1 = num1//10
print(num1)

54

In [51]:
num2 =546/10
print(num2)

54.6

In [52]:
num3 = 45//9
num3

5

In [53]:
num4 = 54//7
num4

7