In [1]:
my_list = [1,2,3]
for item in my_list:
    print(item)
    break

1

In [2]:
i = 0
while i< len(my_list):
    print(my_list[i])
    i += 1
    break

1

In [3]:
my_list = [1,2,3]
for item in my_list:
    print(item)
    continue

1
2
3

In [4]:
i = 0
while i< len(my_list):
    print(my_list[i])
    i += 1
    continue

1
2
3

In [5]:
my_list = [1,2,3]
for item in my_list:
    continue
    print(item) # continue is taking it back to start of loop till it ends thus no print expression is getting executed.

In [6]:
i = 0
while i< len(my_list):
    i += 1
    continue
    print(my_list[i])

In [7]:
my_list = [1,2,3]
for item in my_list:
    #thinking about it
    pass   # it doesnot give a bug and later when we are sure about the block we can write in that place and remove pass.

In [8]:
 for i in range(1,11):
        print('Multiplication table of', i)
        for j in range(1,11)
        #condition to break inner loop
        if i> 5 and j> 5 :
            break
            print(i*j, end= " ")
        print('')

SyntaxError: invalid syntax (1889192511.py, line 3)

In [13]:
for i in range(1,11):
        print('Multiplication table of', i)
        for j in range(1,11): # The error was a missing indentation
            #condition to break inner loop
            if i>5 and j>5: # Here also I was making error in indentation of if expression.
                break
            print(i*j, end= " ")
        print('')

Multiplication table of 1
1 2 3 4 5 6 7 8 9 10
Multiplication table of 2
2 4 6 8 10 12 14 16 18 20
Multiplication table of 3
3 6 9 12 15 18 21 24 27 30
Multiplication table of 4
4 8 12 16 20 24 28 32 36 40
Multiplication table of 5
5 10 15 20 25 30 35 40 45 50
Multiplication table of 6
6 12 18 24 30
Multiplication table of 7
7 14 21 28 35
Multiplication table of 8
8 16 24 32 40
Multiplication table of 9
9 18 27 36 45
Multiplication table of 10
10 20 30 40 50

In [16]:
for i in range(1,11):
    #condition to break outer loop
    if i>5:
        break
    print('Multipication table of', i)
    for j in range(1,11):
        print(i * j, end = ' ')
        print('')

Multipication table of 1
1
2
3
4
5
6
7
8
9
10
Multipication table of 2
2
4
6
8
10
12
14
16
18
20
Multipication table of 3
3
6
9
12
15
18
21
24
27
30
Multipication table of 4
4
8
12
16
20
24
28
32
36
40
Multipication table of 5
5
10
15
20
25
30
35
40
45
50

In [17]:
numbers = [2,3,11,7]
for i in numbers:
    print("current number is", i)
    # skip that no. which is greater than 10
    if i>10:
        continue
    square = i*i
    print("Square of a current no. is", square)

current number is 2
Square of a current no. is 4
current number is 3
Square of a current no. is 9
current number is 11
current number is 7
Square of a current no. is 49

In [19]:
name = 'Je sa a'

size = len(name)
print(size)

7

In [21]:
name = 'Je sa a'
size = len(name)
i = -1
#iterate the loop till the last character
while i < size -1:
    i = i+1
    #skip loop body if current character is space
    if name[i].isspace():
        continue
    #print current character
    print(name[i], end =' ')

J e s a a

In [22]:
#Write a program to display only those numbers from a list that satisfy the following conditions
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop

In [23]:
numbers = [12, 75, 180, 145,525,50]
#iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item >150: # I was using if expression which should not be used.
        continue
    #check if number is divisible by 5
    elif item% 5 == 0:
        print(item)
        # observe after 525 the break statement gets executed so we exit out of loop therefore we didn't reach 
        # till 50.

75
145

In [24]:
#Functions

def say_hello():
    print('hello world')
    
say_hello()

hello world

In [26]:
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]

def show_tree():
    for image in picture:
        for pixel in image:
            if(pixel):
                print('*', end = "")
            else:
                print(' ', end = "")
        print('')
        
show_tree()

   *
  ***
 *****
*******
   *
   *

In [27]:
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]
show_tree()
def show_tree():
    for image in picture:
        for pixel in image:
            if(pixel):
                print('*', end = "")
            else:
                print(' ', end = "")
        print('')
 # my refrence video calling function before defining was giving error but not here.

   *
  ***
 *****
*******
   *
   *

In [34]:
# parameters
def say_hello(name, emoji):
    print(f'hello {name}{emoji}')
    
# arguments
say_hello('Ritesh ' , ':)') # ritesh and emoji here are argumenmts while during defining fiunction name and
say_hello('Amit ' , ':)')   # and emoji were parameters, also these are positional arguments because there 
say_hello('Sourabh ' , ':)') # there position matters.

hello Ritesh :)
hello Amit :)
hello Sourabh :)

In [36]:
# keyword arguments
say_hello(emoji = ':)', name = 'bibi ') # not good practice, follow the defined order.

hello bibi :)

In [37]:
# Default parameters

def say_hello(name = 'krishna ', emoji = ":)"):
    print(f'hello {name}{emoji}')
    
# arguments
say_hello('Ritesh ' , ':)') # If we miss giving arguments then default parameters gets printed as we can see in
say_hello('Amit ' , ':)')   # in last function call.
say_hello('Sourabh ' , ':)
say_hello()

hello Ritesh :)
hello Amit :)
hello Sourabh :)
hello krishna :)

In [39]:
#return statement

def sum_m(num1,num2):
    return num1+num2
total = sum_m(10,5)
print(sum_m(10,total))

25

In [40]:
def sum_m1(num1,num2):
    def another_func(n1,n2):
        return n1+n2
    return another_func(num1,num2)
total = sum_m1(10,20)
print(sum_m1(10,total)) # return statment after execution takes you out of function so if we write any statement
# after that will not get executed.

40

In [41]:
# Docstrings

def test(a):
    '''
    Info: this function tests and print param a
    '''
    print(a)
help(test)
test()

Help on function test in module __main__:

test(a)
    Info: this function tests and print param a

In [42]:
print(test.__doc__)

    Info: this function tests and print param a

In [43]:
def is_even(num):
    if num% 2 == 0:
        return True
    else:
        return False
    
is_even(50)

True

In [44]:
#clean code

def is_even(num):
    return num% 2 == 0

is_even(50)

True

In [45]:
# *args and *kwargs

def super_func(args):
    return sum(args)
super_func(1,2,3,4,5)

TypeError: super_func() takes 1 positional argument but 5 were given

In [46]:
def super_func(*args):
    print(*args)
    return sum(args)
super_func(1,2,3,4,5)

1 2 3 4 5

15

In [48]:
def super_func(*args):
    print(args) #  removed * mark then output is like a tuple.
    return sum(args)
super_func(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [49]:
def super_funnc(*args, **kwargs):
    print(kwargs)
    print(args)
    return sum(args) + sum(items in kwargs.values())
print(super_funnc(1,2,3,4,5, num1 = 5, num2 = 10))

{'num1': 5, 'num2': 10}
(1, 2, 3, 4, 5)

NameError: name 'items' is not defined

In [50]:
def super_funnc(*args, **kwargs):
    print(kwargs)
    print(args)
    total = 0
    for items in kwargs.values():
        total += items
    return sum(args) + total
print(super_funnc(1,2,3,4,5, num1 = 5, num2 = 10))

{'num1': 5, 'num2': 10}
(1, 2, 3, 4, 5)
30

In [51]:
# order of different parameters in a function
#Rule : positional parameters, *args, default parameters, **kwargs

In [52]:
def highest_even(li):
    evens = []
    for item in li:
        if item% 2 == 0:
            evens.append(item)
    return max(evens)
print(highest_even([2,10,3,4,8,7,11]))

10

In [53]:
#Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.
#A recursive function is a function that calls itself, again and again.
#Expected Output:

#55

In [55]:
def addition(num):
    if num :
        return  num + addition(num-1)
    else:
        return 0
result = addition(10)
print(result)

55

In [56]:
 def addition(*args):
        print(args)
        return sum(args)
print(addition(1,2,3,4,5,6,7,8,9,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55