In [5]:
# pure functions

def multiply_2(li1):
    new_list = []
    for item in li1:
        new_list.append(item*2)
    return new_list

print(multiply_2([1,2,3]))

[2, 4, 6]

In [7]:

def multiply_2(li1):
    new_list = []
    for item in li1:
        new_list.append(item*2)
    return print(new_list) # it interacts with the outside world. print interacts with the screen which is
multiply_2([1,2,3])        # outside world.

[2, 4, 6]

In [8]:
new_list = []
def multiply_2(li1):
    
    for item in li1:
        new_list.append(item*2) # It has side effects it interacts with the outside world.
    return new_list # here new_list can be changed maybe to an empty string then we run
                     # our function it will give error because operation like append may not be 
print(multiply_2([1,2,3])) # applicable for it.

[2, 4, 6]

In [11]:
# map()
def multiply_2(li1):
    new_list = []
    for item in li1:
        new_list.append(item*2)
    return new_list

print(map(multiply_2, [1,2,3]))

<map object at 0x7fef445710d0>

In [12]:
def multiply_2(li1):
    new_list = []
    for item in li1:
        new_list.append(item*2)
    return new_list

print(list(map(multiply_2, [1,2,3])))

TypeError: 'int' object is not iterable

In [13]:
def multiply_2(item):

    return (item*2)

print(list(map(multiply_2, [1,2,3])))

[2, 4, 6]

In [14]:
my_list = [1,2,3]
def multiply_2(item):

    return (item*2)

print(list(map(multiply_2, my_list)))
print(my_list) # we cany say map() is a pure function.

[2, 4, 6]
[1, 2, 3]

In [16]:
# filter()

my_list = [1,2,3]
def only_odd(item):
    return item% 2 != 0
print(list(filter(only_odd, my_list)))
print(my_list)

[1, 3]
[1, 2, 3]

In [17]:
# zip()

my_list = [1,2,3]
your_list = [10,20,30]
print(list(zip(my_list, your_list)))
print(my_list) # it zips values at same position i.e. 0th index with 0th index of other list

[(1, 10), (2, 20), (3, 30)]
[1, 2, 3]

In [18]:
 my_list = [1,2,3]
your_list = (10,20,30) # it does the same thing even after one variable is tuple i.e. it only requires both as
print(list(zip(my_list, your_list))) # iterables.
print(my_list)

[(1, 10), (2, 20), (3, 30)]
[1, 2, 3]

In [21]:
# reduce()
from functools import reduce
def accumulator(acc, item):
    print(acc, item) # acc has been set to 0 see print statement third arguent.
    return acc + item
print(reduce(accumulator, my_list, 0))
print(my_list)

0 1
1 2
3 3
6
[1, 2, 3]

In [22]:
# lambda expressions - one time anonymous function that you don't want more than once.
# lambda param: action(param)- syntax of lambda
my_list = [1,2,3]
print(list(map(lambda item: item*2, my_list)))
print(my_list)

[2, 4, 6]
[1, 2, 3]

In [23]:
print(list(filter(lambda item: item%2 != 0, my_list)))
print(my_list)

[1, 3]
[1, 2, 3]

In [25]:
from functools import reduce
print(reduce(lambda acc, item: acc+item, my_list))
print(my_list)

6
[1, 2, 3]

In [26]:
my_list = [5,4,3]
# square

new_list = list(map(lambda num: num**2, my_list))
print(new_list)

[25, 16, 9]

In [29]:
# List sorting
a = [(0,2), (4,3),(9,9),(10,-1)]
a.sort()
print (a)

[(0, 2), (4, 3), (9, 9), (10, -1)]

In [30]:
a = [(0,2), (4,3),(9,9),(10,-1)]
a.sort(key=lambda x: x[1])
print(a)

[(10, -1), (0, 2), (4, 3), (9, 9)]

In [32]:
my_list = [] # one way

for char in 'hello':
    my_list.append(char)
    
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [34]:
# comprehensions

my_list2 = [num for num in range(0,10)]
my_list3 = [num*2 for num in range(0,10)] # num actually behaves as expression so it can perform such execution 
print(my_list2)
print(my_list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
my_list4 = [num**2 for num in range(0,100)]
my_list5 = [num**2 for num in range(0,10) if num%2 == 0]
print(my_list5)

[0, 4, 16, 36, 64]

In [37]:
 from functools import reduce
    
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
my_names = ["Jeff", "Alex", "Johnathan", "Richelle", "Anna"]
my_numbers = [4,6,8,10,2]

map_result = list(map(lambda x: round(x**2,3), my_floats))
filter_result = list(filter(lambda name:len(name) <= 7, my_names))
reduce_result = reduce(lambda num1, num2: num1*num2, my_numbers)

print(map_result)
print(filter_result)
print(reduce_result)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]
['Jeff', 'Alex', 'Anna']
3840

In [3]:
#set comprehension

set1 = {0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19} # one way
new_set1 = set()
for i in set1:
    new_set1.add(i+1)
    
print(new_set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [5]:
set2 = {0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19} # using set comprehension
new_set2 = {i+1 for i in set2}
print(new_set2)
print(type(new_set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
<class 'set'>

In [6]:
new_set2 = {i+1 for i in range(20)}
print(new_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [7]:
set1 = set()
for i in range(20):
    if i%2 == 0:
        set1.add(i)
print(set1)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [8]:
set2 = {i for i in range(20) if i%2 == 0}
print(set2)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [9]:
set1 = set()
for i in range(20):
    if i%2 == 0:
        if i%3 == 0:
            set1.add(i)
print(set1)

{0, 18, 12, 6}

In [10]:
set2 = {i for i in range(20) if i%2 == 0 if i%3 == 0}
print(set2)

{0, 18, 12, 6}

In [12]:
set1 = set()
for i in range(10):
    if i%2 == 0:
        set1.add(i)
    else:
        set1.add(i*1000)
print(set1)

{0, 2, 4, 6, 1000, 5000, 8, 9000, 7000, 3000}

In [13]:
set2 = {i if i%2 == 0 else i*1000 for i in range(10)}
print(set2)

{0, 2, 4, 6, 1000, 5000, 8, 9000, 7000, 3000}

In [16]:
#dictionary comprehension

dict1 = {}
for i in range(10):
    dict1[i] = i*2
print(dict1)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [18]:
dict2 = {n:n*2 for n in range(10)}
print(dict2)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [20]:
dict2 = {n:n*2 for n in range(10) if n%2 == 0}
print(dict2)

{0: 0, 2: 4, 4: 8, 6: 12, 8: 16}

In [22]:
dict3 = {n:(n if n%2 == 0 else 'Invalid') for n in range(10)}
print(dict3)

{0: 0, 1: 'Invalid', 2: 2, 3: 'Invalid', 4: 4, 5: 'Invalid', 6: 6, 7: 'Invalid', 8: 8, 9: 'Invalid'}

In [23]:
dict3 = {n:n if n%2 == 0 else 'Invalid' for n in range(10)}
print(dict3)

{0: 0, 1: 'Invalid', 2: 2, 3: 'Invalid', 4: 4, 5: 'Invalid', 6: 6, 7: 'Invalid', 8: 8, 9: 'Invalid'}